<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Microplastic Classifier</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="body">

  <!-- NAVBAR -->
  <header class="navbar">
    <div class="container nav-flex">
      <h1 class="brand">Microplastic Detection System</h1>

      <nav class="nav-links">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('predict') }}">Predict</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
      <small>© 2025 • Microplastic Project</small>
    </div>
  </footer>

</body>
</html>
